k8s {
   namespace = 'svaton-ns'
   runAsUser = 1000
   imagePullSecret = 'docker-registry-cred'
   storageClaimName = 'pvc-bib-storage-elixir1-cerit-sc-cz'
   storageMountPath = '/mnt'
   homeDir = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK'
   launchDir = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/launch'
   projectDir = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/project'
   workDir = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/temp'
}

params {
   projectDirectory = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/project/xsvato01/mareckova_CXCR_k8s/'
   outDirectory = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/launch'
   ref = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10'
   vep = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep'
   refindex = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
   covbed = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/project/xsvato01/mareckova_CXCR_k8s/beds/mareckovaBed_GRCh38.bed'
   vcftbl = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/project/xsvato01/mareckova_CXCR_k8s/src/vcf2table108.py'
   coverstat = '/mnt/home/450402/000000-My_Documents/MARECKOVA_BTK/project/xsvato01/mareckova_CXCR_k8s/src/coverage_stat.R'
   datain = '/mnt/shared/MedGen/sequencing_results/primary_data/231208_TP53_20231208'
   prefix = 'N-'
}

executor {
   queueSize = 5
}

process {
   withLabel:small_process {
      cpus = 1
      memory = '2 GB'
   }
   withLabel:smallest_process {
      cpus = 1
      memory = '1 GB'
   }
   withLabel:medium_cpu {
      cpus = 8
   }
   withLabel:medium_mem {
      memory = '4 GB'
   }
   container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_cxcr_k8s:34'
   scratch = true
   executor = 'k8s'
   cpus = 2
   memory = '8GB'
   pod = [[imagePullSecret:'docker-registry-cred'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', allowPrivilegeEscalation:false, runAsUser:1000, runAsGroup:1, fsGroup:1, capabilities:[drop:['ALL']]]], [nodeSelector:'storage=local-ssd']]
}

runName = 'sick-lavoisier'
resume = null

report {
   enabled = true
   file = 'report-20231212-50589576.html'
}
