k8s {
  namespace = 'medgen-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-jans-elixir-share'
   storageMountPath = '/mnt'
   homeDir = '/mnt/share/710000-CEITEC/713000-cmm/713003-pospisilova/cmbg/Mareckova_panel'
   launchDir = "${k8s.homeDir}/src/launch"
   projectDir = "${k8s.homeDir}/src/project"
   workDir = "${k8s.homeDir}/src/temp"
}

params {
   outDirectory = "${k8s.homeDir}/data"
   ref = '/mnt/share/710000-CEITEC/713000-cmm/713003-pospisilova/base/MedGen/references/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38'
   vep = '/mnt/share/710000-CEITEC/713000-cmm/713003-pospisilova/base/MedGen/references/Homo_sapiens/GATK/GRCh38/Annotation/vep'
   refindex = '/mnt/share/710000-CEITEC/713000-cmm/713003-pospisilova/base/MedGen/references/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64'
   covbed = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/beds/mareckovaBed_GRCh38.bed"
   vcftbl = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/vcf2table108.py"
   coverstat = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/coverage_stat.R"
   mergetables = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/JoinVars.py"
}


executor {
   queueSize = 100
}


process {
   withLabel:small_process {
         cpus = 1
         memory = 2.GB
      }
      withLabel:smallest_process {
         cpus = 1
         memory = 1.GB
      }   
      withLabel:medium_cpu {
      cpus = 4
      }
      withLabel:medium_mem {
         memory = 4.GB
      }  
   container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_cxcr_k8s:34'
   scratch = true
   executor = 'k8s'
   cpus = 2
   memory = '6GB'
   pod = [[imagePullSecret:'gitlab-svaton-secret'], [securityContext:[fsGroupChangePolicy:'OnRootMismatch', allowPrivilegeEscalation:false, runAsUser:1000, runAsGroup:1, fsGroup:1, capabilities:[drop:['ALL']]]], [nodeSelector:'storage=local-ssd']]
}
