params.refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
params.ref       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10'
params.covbed    = 'src/cxc_coverage.bed'
params.varbed    = 'src/cxc_varcal.bed'
params.vep       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep'
params.vcftbl    = 'vcf2table_MDS.py'



k8s {
   namespace = 'svaton-ns'
   runAsUser = 1000
   //workDir = '/home/450402/000000-My_Documents/workDir_Mareckova'
   storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
 //  launchDir = '/mnt/home/450402/000000-My_Documents/mareckova_k8s_work'
//   projectDir = '/mnt/home/450402/000000-My_Documents/launchDir_Mareckova'
//   storageMountPath = '/mnt'
}

executor {
  queueSize = 15
}

process {
//   container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_CXCR_k8s:main'
   scratch = true
   executor = 'k8s'
   cpus = 16
   memory = '16GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

manifest {
  defaultBranch = 'main'
}
