params {
   datain = '/mnt/home/450402/000000-My_Documents/mareckova_data/'
   refindex = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
   ref = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10'
   covbed = '/mnt/shared/MedGen/mareckova_CXC/src/cxc_coverage.bed'
   varbed = '/mnt/shared/MedGen/mareckova_CXC/src/cxc_varcal.bed'
   vep = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep'
   vcftbl = '/mnt/shared/MedGen/mareckova_CXC/src/vcf2table_MDS.py'
   coverstat = '/mnt/shared/MedGen/mareckova_CXC/src/coverage_stat.R'
}

k8s {
   namespace = 'svaton-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
   launchDir = '/mnt/home/450402/000000-My_Documents/Mareckova/launch'
   projectDir = '/mnt/home/450402/000000-My_Documents/Mareckova/project'
   workDir = '/mnt/home/450402/000000-My_Documents/Mareckova/temp'
//useJobs=true
   pullPolicy = 'IfNotPresent'
   storageMountPath = '/mnt'
   computeResourceType = 'Job'
}

executor {
  queueSize = 15
}

process {
   container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_cxcr_k8s:23'
   scratch = true
   executor = 'k8s'
   cpus = 8
   memory = '8GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
 
  withName: 'MULTIQC|CREATE_FULL_TABLE'
   {
   cpus = 2
   memory = '4GB'
  }

}

manifest {
  defaultBranch = 'main'
}
