k8s {
 namespace = 'svaton-ns'
 runAsUser = 1000
 imagePullSecret = 'docker-registry-cred'
 pullPolicy = 'Always'
storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
//storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz' 
storageMountPath = '/mnt'
 launchDir = '/mnt/home/450402/000000-My_Documents/Myelo_test/launch'
 projectDir = '/mnt/home/450402/000000-My_Documents/Myelo_test/project'
 workDir = '/mnt/home/450402/000000-My_Documents/Myelo_test/work'
}

params {
 outDir = '/mnt/shared/MedGen/BTK/data'
  refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/index/BWA/GRCh37-p13'
 ref       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/seq/GRCh37-p13'
 vep       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/vep/'
// covbed = '/mnt/shared/MedGen/BTK_k8s_nf/project/xsvato01/BTK_k8s/src/beds/BTK_PLCG2_corr.bed'
  covbed = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/beds/BTK_PLCG2_p53_corr_picard_extended.bed"
  varbedExt = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/beds/BTK_PLCG2_p53_corr_picard_extended.bed"

 vcftbl    = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/vcf2table_MDS.py"
 coverstat = "${k8s.projectDir}/xsvato01/mareckova_CXCR_k8s/src/coverage_stat.R"

}


executor {
 queueSize = 1
}

process {
 container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_cxcr_k8s:34'
 scratch = true
 executor = 'k8s'
 cpus = 6
 memory = '14GB'
 pod = [[imagePullSecret : 'docker-registry-cred'],[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}
