params {
 refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
 ref       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10'
 vep       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep'
 covbed    = '/src/cxc_coverage.bed'
 varbed    = '/src/cxc_varcal.bed'
 //vcftbl    = '/src/vcf2table_MDS.py'
vcftbl    = 'https://github.com/karolpal-jr/reGenotype/blob/master/vcf2table_simple_mode.py'
}

k8s {
 namespace = 'svaton-ns'
 runAsUser = 1000
 storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
 launchDir = '/mnt/shared/medgen/mareckova_CXC/src/launch'
 projectDir = '/mnt/shared/medgen/mareckova_CXC/src/scripts/project'
 workDir = '/mnt/shared/medgen/mareckova_CXC/src/scripts/work'
}

executor {
 queueSize = 15
}

process {
 container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_CXCR_k8s:main'
 scratch = true
 executor = 'k8s'
 cpus = 8
 memory = '8GB'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

manifest {
 defaultBranch = 'main'
}
